*.txt
*.dll
*.pdb
*.cache
*.force
*.force
*.suo
obj/
debug/
bin/
Alamo.Api.Mvc4/obj/
Alamo.Api.Mvc4/Properties/PublishProfiles/
Alamo.Portal.Web/Web.config
Alamo.Portal.Web/Manager/Reports/ReportModal.aspx.cs
*.exe
Alamo.Engine.Service/bin/Debug/Alamo.Engine.Service.exe
www/
node_modules/
bower_components/
.sass-cache/
.tmp/
Alamo.Portal.Web/Manager/_Designers/*/app/assets
Alamo.Portal.Web/Manager/_Designers/*/app/fonts
Alamo.Portal.Web/Portal/_Runners/*/plugins
Alamo.Portal.Web/Portal/_Runners/*/platforms

*.user
*.user
Alamo.Api.Mvc4/Properties/PublishProfiles/MVC.pubxml.user
*.user
*.user
*.user
