
<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }
</style>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">COAX</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="javascript;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#">Static top</a></li> -->
                <li class="active"><a href="#/login">{{currentUser}}<span class="sr-only"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br />
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>About</h1>
    </div>

    <div ng-controller="TestController">
     
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
    </div>

    <hr>
    <footer>
        <p>&copy; Coax 2015</p>
    </footer>
</div> <!-- /container -->
<!-- /container -->



<script src="/js/about/controller.js"></script>

