
<style>

    .myGrid {
        width: 95%;
        height: 250px;
    }
</style>

 
    <button class="btn" ng-click="open(1)">Open</button>
    <button ng-click="OK()">OK</button>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Detail {{detail_id}} and {{order_id}}</h1>
    </div>

    <div ng-controller="Main as vm">
        <table class="table">
            <tr ng-repeat="p in vm.people">
                <td>{{ p }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.deleteModal(p)">Delete</button>
                </td>
            </tr>
        </table>
    </div>



    <div ng-controller="Grid1Controller">
        <div ui-grid="{ data: myGridData }" ui-grid-cellNav class="myGrid"></div>
        <div ui-grid="gridOptions" ui-grid-cellNav class="myGrid" external-scopes="$scope"></div>
    </div>







<script src="/js/detail/controller.js"></script>

